.header-section {
    background-color: green;
}
.header-section h1{
    font-size: 16pt;
    color: white;
    text-align: left;
}

.header-section p{
    font-size: 12pt;
    color: white;
    text-align: left;
}

hr{
    margin: 0px;
    color: white;    
}

.nav-section {
    background-color: azure;
    text-align: center;
    padding: 15px;
}
.highlight{
    color: green;
    font-family: 'Garamond';
    font-size:  75pt;
    font-weight: bold;
    text-align: center;
}

nav ul{
    display:flex;
    gap: 50px;
    justify-content: center;
}

nav ul li a {
    list-style-type:disc;
    color: black;
    font-size: 16pt;   
}

h2{
    font-size: 20pt;
    color: green;
}

.content-wrapper {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.sidebar {
    width: 25%;
    background-color: azure;
    padding: 15px;
}

.sidebar a{
    color:black;
    font-size: 14pt;
    padding-bottom: 15px;
    text-decoration: none;
}

.main-content {
    width: 75%;
    padding: 15px;
    text-align: justify;
    background-color: azure;
}